* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

html {
  font-family: "Times New Roman", Times, serif;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}
